  <div class="tableContainer" ng-controller="groupsController">
    <div class="headerContainer">
      <div class="header row">
        <div class="col s6"><div class="groupsCount"><p>Groepen (420)</p></div></div>
          <div class="col s6">
            <div class="groupsSearch">
            	<div class="row">
              		<i class="material-icons grey-text col s3 searchIcon">search</i>
              		<input class="col s9" type="text" name="searchBar" ng-model="searchQuery" placeholder="Zoek naar groepen">
              	</div>
            </div>
       </div>
      </div>
      	
		    <div class="tableTitles">
		    	<div class="row">
			    	<h5 class="col s3">Groepsnaam</h5>
			    	<h5 class="col s3">Onderwerp</h5>
			    	<h5 class="col s3">Status</h5>
			    	<h5 class="col s3 alignRight">Verwijderen</h5>
		    	</div>
		    </div>
		    <div class="tableContent row">
		      	<div ng-repeat="group in groups | filter:searchQuery" class="tableContentBlock">
		      		<p class="col s3">{{group.name}}</p>
		      		<p class="col s3">{{group.subject}}</p>
		      		<p class="col s3">{{group.status}}</p>
		      		<a class="col s3 alignRight" href="#">VERWIJDER</a>
		      	</div>
		      	<div class="fixed-action-btn">
		      		<a class="btn-floating btn-large blue">
		      			<i class="large material-icons">add</i>
		      		</a>
		      	</div>
		    </div>
    </div>
  </div>
