<div class=" table-responsive">
    <table class="table table-hover" ng-controller="groupsController">
        <div class="headerContainer">
            <div class="header row">
                <div class="col s6">
                    <div class="groupsCount"><p>Groepen (325)</p></div>
                </div>
                <div class="col s6">
                    <div class="groupsSearch">
                        <div class="row">
                            <i class="material-icons grey-text col s3 searchIcon">search</i>
                            <input class="col s9" type="text" name="searchBar" ng-model="searchQuery"
                                   placeholder="Zoek naar groepen">
                        </div>
                    </div>
                </div>
            </div>
            <tr>
                <th>Groepsnaam <i class="material-icons rotate">code</i></th>
                <th>Onderwerp <i class="material-icons rotate">code</i></th>
                <th>Status <i class="material-icons rotate">code</i></th>
                <th>Verwijderen <i class="material-icons rotate">code</i></th>
            </tr>

            <tr ng-repeat="group in groups | filter:searchQuery" class="tableContentBlock">
                <td>{{group.name}}</td>
                <td>{{group.subject}}</td>
                <td>{{group.status}}</td>
                <td class="table-delete">VERWIJDEREN</td>

            </tr>
    </table>
</div>