<div class="detail-section row" ng-controller="ListController">
    <div class="detail-card col s6">
        <form>
            <h5 class="header-text">Maak een nieuwe groep aan:</h5>
            <div class="col s4 group">
                <md-input-container accent class="mat-input">
                    <label>Groepsnaam</label>
                    <input ng-model="groupName" type="email" class="input-label">
                </md-input-container>
            </div>

            <div class="col s4">
                <md-input-container class="mat-input">
                    <label>Cijfer</label>
                    <input ng-model="grade" type="number" step="0.1" class="input-label">
                </md-input-container>
            </div>

            <div class="col s4">
                <md-input-container accent class="mat-input">
                    <label>Vak</label>
                    <input ng-model="subject" type="email" class="input-label">
                </md-input-container>
            </div>

            <h5 class="header-text col s12">Voeg groepsleden toe:</h5>
            <div class="col s5 group">
                <md-input-container accent class="mat-input">
                    <label>Student naam</label>
                    <input class="form-control input-label" ng-model="personalDetail.fname" type="text">
                </md-input-container>
            </div>
            <div class="col s6">
                <md-input-container accent class="mat-input">
                    <label>Student email</label>
                    <input class="form-control input-label" ng-model="personalDetail.lname" type="text">
                </md-input-container>
            </div>
            <div class="col s1">
                <div class="form-group">
                    <input type="submit" ng-click="addNew(personalDetail)"
                           class="btn btn-primary add-new pull-right" value="+">
                </div>
            </div>


            <md-button class="detail-button col s12 waves-effect waves-light btn">MAAK DE GROEP AAN</md-button>
            <p class="reference col 12">Op het moment dat de groep aanmaakt krijgt ieder groepslid een beoordelings
                link</p>
        </form>
    </div>
    <div class="detail-card col s4 offset-s1">
        <h5 class="header-text col s12">Groepsleden:</h5>
        <div ng-repeat="personalDetail in personalDetails" class="col s12 personDetail n-g">
            <p class="customName f-l" ng-if="personalDetail.fname">{{personalDetail.fname | limitTo : 2}}</p>
            <p class="personName f-l" ng-if="personalDetail.fname">{{personalDetail.fname}}</p>
            <button class="material-icons" ng-click="remove(personalDetail)">clear</button>
        </div>

    </div>
</div>


