<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="gradeApp" ng-cloak>
<div class="wrapper">
    <div class="grade-section">
        <div class="grade-card">
            <form>
                <div class="col-md-12">
                    <h3 class="header-text">Beoordeel je medestudenten:</h3>
                    <div class="header-content">
                        <p class="col-md-5 f-l n-g">Naam student</p>
                        <p class="col-md-2 f-l n-g">Cijfer</p>
                        <p class="col-md-5 f-l n-g">Toelichting cijfer</p>
                    </div>
                    <div class="grade-content">

                        <div>
                            <div class="col-md-5 f-l n-g student">
                                <md-input-container class="mat-input">
                                    <label>Naam</label>
                                    <input placeholder="Rik Hassing" disabled>
                                </md-input-container>
                            </div>
                            <div class="col-md-2 f-l n-g">
                                <md-input-container class="mat-input">
                                    <label>Cijfer</label>
                                    <input ng-model="grade" type="number" step="0.1">
                                </md-input-container>
                            </div>
                            <div class="col-md-5 f-l n-g">
                                <md-input-container class="mat-input">
                                    <label>Vul hier een korte beschrijving in</label>
                                    <input ng-model="description" type="text">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <md-button class="grade-button">VERSTUUR BEOORDELING</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer"></div>
</div>
</body>

<!-- Hax -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="grade.css">


<script type="text/javascript">
    var app = angular.module('gradeApp', ['ngMaterial']);

    app.controller('gradingController', function($scope, $location) {
        $scope.grades = {grade: "7.0", names: [ "Bjorne Hoeksema", "Lesley van Oostenrijk", "Pim Gelmers", "Daniel Wildeboer", "Rik Hassing", "Ramon Valk"]};
    });

</script>

</html>
