body {
    background: url("Pattern.png") repeat rgba(0, 131, 255, 0.4);
    background-position: center;
    font-family: Roboto !important;

}

.login-section {
    padding-top: 15%;
}
.register-section {
    padding-top: 10%;
}

.login-section .login-card, .register-section .login-card {
    padding: 3rem 2rem;
    background: white;
    margin: auto;
    overflow: auto;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 35%;
}

.mat-input {
    padding: 0.5rem 0;
    width: 100%;
    margin: 0;

}

.login-button {
    background: #0083FF;
    width: 100%;
    margin: auto;
    color: white;
    border-radius: 2px;
    margin-bottom: 10px;
}

.login-button:hover, .login-button:focus {
    background-color: #0083FF !important;
}

.md-button.md-default-theme[disabled], .md-button[disabled] {
    background: gray;
    color: white;
}
.md-button.md-default-theme[disabled], .md-button[disabled]:hover {
    background: gray !important;
}
.reference {
    text-decoration: none;
    text-align: center;
}
.reference a {
    text-decoration: none;
    color: #0083FF;
    text-transform: uppercase;
    font-weight: 500;

}
.footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    background: #0083FF;
}
.md-input:focus {
    border-bottom: 1px solid #0083FF !important;
    -webkit-box-shadow: 0 1px 0 0 #0083FF !important;
    box-shadow: 0 1px 0 0 #0083FF !important;
}
.md-input-focused label {
        color: #0083FF !important;
    }
.f-l {
    float: left;
}
