<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script data-require="angularjs@1.5.8" data-semver="1.5.8" src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>
    <script src="register.js"></script>
</head>
<body ng-app="Register" ng-controller="RegisterController" ng-cloak>

<div class="register-section">
    <div class="login-card">
        <form name="registerForm">
            <div class="col-md-12">
                <md-input-container class="mat-input">
                    <label>Voornaam</label>
                    <input ng-model="firstName" required>
                </md-input-container>
            </div>
            <div class="col-md-12">
                <md-input-container class="mat-input">
                    <label>Achternaam</label>
                    <input ng-model="lastName" required>
                </md-input-container>
            </div>
            <div class="col-md-12">
                <md-input-container class="mat-input">
                    <label>E-mailadres</label>
                    <input ng-model="email" required>
                </md-input-container>
            </div>
            <div class="col-md-12">
                <md-input-container class="mat-input">
                    <label>Wachtwoord</label>
                    <input type="password" ng-model="password" required>
                </md-input-container>
            </div>
            <div class="col-md-12">
                <md-button ng-disabled="registerForm.$invalid" class="login-button" ng-click="register()">REGISTREER</md-button>
            </div>
            <div class="col-md-12 reference">
                <a class="login-text" href="login.html">Bent u al lid log dan in</a>
            </div>
        </form>
    </div>
</div>
<div class="footer"></div>
</body>

<!-- Hax -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="login.css">

</html>
